

<%= form_for(@election,  html: {class: 'ui form'}) do |f| %>
  <div class="four fields">
    <div class="field">
      <label>選挙名</label>
      <%= f.text_field :name, class: "" %>
    </div>
    
    <div class="field">
      <label>記事ID</label>
      <%= f.number_field :article_id, class: "" %>
    </div>
  
    <div class="field">
      <label>状態</label>
      <%= f.select :status, options_for_select(["待機", "稼働", "終了"]), {}, { class: 'ui fluid dropdown' } %>
    </div>
    
    <div class="field">
      <label>担当者</label>
      <%= f.select :worker, options_for_select(["小貫", "後藤", "寒河江", "伊藤"]), {}, { class: 'ui fluid dropdown' } %>
    </div>
  </div>
  
  <div class="field">
    <label>説明</label>
      <%= f.text_area :description, class: '' %>
  </div>
  
  <div class="actions">
    <%= f.submit "登録", class: 'ui button'%>
  </div>
<% end %>