<%= form_for(@bot) do |f| %>
  <p>
    <%= f.label :name, "選挙名" %><br>
    <%= f.text_field :name, class: 'form-control input-sm', style: "width:150px;" %>
  </p>
 
  <p>
    <%= f.label :url, "URL" %><br>
    <%= f.text_area :url, class: 'form-control input-sm', style: "width:500px;", size: "10"%>
  </p>
  
  <p>
    <%= f.label :article_id, "記事ID" %><br>
    <%= f.text_area :article_id, class: 'form-control input-sm', style: "width:50px;"%>
  </p>
  
  <div class='input-group date datepicker col-xs-2'>
   <%= f.text_field :date, class: 'form-control input-sm' %>
   <span class="input-group-addon">
       <span class="fa fa-calendar"></span>
   </span>
  </div>
  
  <p>
    <%= f.submit "編集終了", class: 'btn btn-primary' %>
  </p>
<% end %>