<title>クローラー | 検索結果</title>
<table class="ui celled table">
  <thead>
    <tr><th>ID</th>
    <th>選挙名</th>
    <th>URL</th>
    <th>記事ID</th>
    <th>Xpath</th>
    <th>開票日</th>
    <th>条件ワード1</th>
    <th>条件ワード2</th>
    <th>条件ワード3</th>
    <th>上段</th>
    <th>管理</th>
  </tr></thead>
  <tbody>
    <% @results.each do |bot| %>
    <tr>
     <td><%= bot.id %></td>
     <td><%= link_to"#{bot.name}", bot, { :target => "_blank"}  %></td>
     <td><%= link_to "#{bot.url.truncate(20)}", bot.url, { :target => "_blank"} %></td>
     <td><%= bot.article_id %></td>
     <td><%= bot.xpath %></td>
     <td><%= bot.date %></td>
     <td><%= bot.word1 %></td>
     <td><%= bot.word2 %></td>
     <td><%= bot.word3 %></td>
	 <td><%= bot.upper.truncate(10) %></td>
     <td>
      <%= link_to "編集", edit_bot_path(bot.id), { :class => "ui olive button" } %>
      <%= link_to "削除", bot, { :class => "ui red button", method: :delete, data: { confirm: "本当に削除してもいいですか？" }} %>
     </td>
    </tr>
    <% end %>
  </tbody>
</table>