


<%= @time %>

<%= search_form_for @q do |f| %>

  <%= f.search_field :name_start, class: :"form-control", :placeholder => "選挙名"%>
  <br />

  <%= f.search_field :url_cont, class: :"form-control", :placeholder => "URL"%>
  <br />

  <%= f.search_field :article_id_eq, class: :"form-control", :placeholder => "記事ID"%>
  <br />

  <%= f.search_field :xpath_eq, class: :"form-control", :placeholder => "xpath"%>
  <br />

  <%= f.search_field :date_eq, class: :"form-control", :placeholder => "開票日"%>
  <br />

  <%= f.submit "検索", class: :"btn"%><br><br>
<% end %>

<div class="col-xs-12">
<table class="type07">
    <thead>
    <tr>
        <th scope="cols"></th>
        <th scope="cols">選挙名</th>
        <th scope="cols">URL</th>
        <th scope="cols">記事ID</th>
        <th scope="cols">Xpath</th>
        <th scope="cols">開票日</th>
        <th scope="cols">条件ワード1</th>
        <th scope="cols">条件ワード2</th>
        <th scope="cols">条件ワード3</th>
        <th scope="cols">上段</th>
        <th scope="cols">管理</th>
    </tr>
    </thead>
    <tbody>
        
    <% @bots.each do |bot| %>

        <tr>
            <th scope="row"><%= bot.id %></th>
    		<td><%= link_to"#{bot.name}", bot, { :target => "_blank"}  %></td>
    		<td><%= link_to "#{bot.url.truncate(20)}", bot.url, { :target => "_blank"} %></td>
    		<td><%= bot.article_id %></td>
    		<td><%= bot.xpath %></td>
    		<td><%= bot.date %></td>
    		<td><%= bot.word1 %></td>
    		<td><%= bot.word2 %></td>
    		<td><%= bot.word3 %></td>
    		<td><%= bot.upper.truncate(10) %></td>
    		<td>
    		    <%= link_to "編集", edit_bot_path(bot.id) %>
    		    <%= link_to "削除", bot, method: :delete, data: { confirm: "本当に削除してもいいですか？" } %>
    		    
    		</td>
        </tr>
        
    <% end %>
    </tbody>
</table>
</div>

<%= paginate @bots %>