<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="content-language" content="ja">
 <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
 
<% if controller.action_name == "index" || controller.action_name == "new" %>
 <% if controller.controller_name != "elections" %>
  <%= render 'layouts/header' %>
 <% end %>
<% end %>

 <% if controller.controller_name == "elections" %>
  <%= render 'layouts/elections_header' %>
 <% end %>

<%= yield %>

</body>
</html>
